
<script lang="ts" setup>
import { computed, onMounted, ref } from 'vue'
import { StarshipsService } from '@/services';
import VIcon from '@/components/VIcon/VIcon.vue'
import VSpinner from '@/components/VSpinner/index.vue'
import { useRoute } from 'vue-router'
import router from '@/router'
import VChip from '@/components/VChip/index.vue'

const route = useRoute()
const service = new StarshipsService()
const loading = ref(false)
const item = ref()

const id = computed(() => {
  return route.params.id
});

onMounted(() => {
  console.log(route.params.id)
  fetchData()
})

const fetchData = async () => {
  try {
    loading.value = true
    const res = await service.getDetail(id.value)
    item.value = res.data
  } catch (e: any) {
    console.log('e', e)
    loading.value = false
  } finally {
    loading.value = false
  }
}
</script>

<template>
  <div class="p-11">
    <button
      class="mb-5 px-3 py-2 text-sm font-semibold rounded-md border border-primary text-primary"
      @click="router.back()"
    >
      <VIcon name="ic:outline-arrow-back" class="h-5 w-5"></VIcon>
      Back
    </button>
    <div class="text-center my-4" v-if="loading">
      <VSpinner></VSpinner>
    </div>
    <div class="flex md:flex-nowrap flex-wrap gap-6 bg-white shadow-md rounded-md" v-else>
      <div>
        <img class="bg-primary-300 rounded-l-md" src="@/assets/starships.png?url" />
      </div>
      <div class="p-4">
        <VChip variant="warning">
          <VIcon name="ic:round-star-rate" class="h-5 w-5 mr-1"></VIcon>{{ item?.hyperdrive_rating }}
        </VChip>
        <p class="font-bold text-4xl my-3">
          {{ item?.name }}
        </p>
        <div class="grid grid-cols-1 gap-2">
          <div>
            <p class="font-bold text-sm text-gray-600">Model</p>
            <p class="text-md">{{ item?.model }}</p>
          </div>
          <div>
            <p class="font-bold text-sm text-gray-600">Starship Class</p>
            <p class="text-md">{{ item?.starship_class }}</p>
          </div>
          <div>
            <p class="font-bold text-sm text-gray-600">Manufacturer</p>
            <p class="text-md">{{ item?.manufacturer }}</p>
          </div>
          <div>
            <p class="font-bold text-sm text-gray-600">Cargo Capacity</p>
            <p class="text-md">{{ item?.cargo_capacity }}</p>
          </div>
          <div>
            <p class="font-bold text-sm text-gray-600">Max Atmoshpering Speed</p>
            <p class="text-md">{{ item?.max_atmosphering_speed }}</p>
          </div>
          <div>
            <p class="font-bold text-sm text-gray-600">Crew</p>
            <p class="text-md">{{ item?.crew }}</p>
          </div>
          <div>
            <p class="font-bold text-sm text-gray-600">Passengers</p>
            <p class="text-md">{{ item?.passengers }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
