
<script lang="ts" setup>
import { onMounted, ref } from 'vue'
import { debouncedWatch } from '@vueuse/core'
import { StarshipsService } from '@/services';
import VIcon from '@/components/VIcon/VIcon.vue'
import VSpinner from '@/components/VSpinner/index.vue'
import VChip from '@/components/VChip/index.vue'
import router from '@/router'

const service = new StarshipsService()
const starships: any = ref([])
const loading = ref(false)
const nextPageLoaded = ref(false)
const search = ref('')
const page = ref(1)

onMounted(() => {
  fetchData({
    search: search.value,
    page: page.value
  })
  window.onscroll = () => {
    if ( (window.scrollY + window.innerHeight >= document.body.scrollHeight) && !nextPageLoaded.value) {
    page.value++
    nextPageLoaded.value = true 
    fetchData({
      search: search.value,
      page: page.value
    })
  }
}
})

const fetchData = async (params = {}) => {
  try {
    loading.value = true
    const res = await service.getList(params)
    if (nextPageLoaded.value) {
      starships.value = starships.value.concat(res.data.results)
    } else {
      starships.value = res.data.results
    }
    nextPageLoaded.value = false
  } catch (e: any) {
    console.log('e', e)
    loading.value = false
  } finally {
    nextPageLoaded.value = false
    loading.value = false
  }
}

const toDetail = (url: string) => {
  console.log(url.split('/'))
  const idStarships = url.split('/')[5]
  router.push({ path: `/starships/${idStarships}` })
}

debouncedWatch(
  search,
  (val) => {
    fetchData(
      {
        search: val,
        page: 1
      }
    )
  },
  { debounce: 300, deep: true },
)

</script>

<template>
  <div class="pt-11 px-11 mb-8">
    <input
      v-model="search"
      type="text"
      class="px-3 py-3 bg-white border shadow-md border-slate-200 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1 contrast-more:border-slate-400 contrast-more:placeholder-slate-500"
      placeholder="Search..."
    />
  </div>
  <div v-if="starships.length < 1 && !loading" class="text-center">
    No data available.
  </div>
  <div v-else class="grid lg:grid-cols-2 sm:grid-cols-3 grid-rows-4 gap-4 px-11">
    <div
      v-for="(starship, index) in starships"
      :key="index"
      class="shadow-md rounded-md bg-white h-max"
    >
      <div class="p-3">
        <VChip variant="warning">
          <VIcon name="ic:round-star-rate" class="h-5 w-5 mr-1"></VIcon>{{ starship?.hyperdrive_rating }}
        </VChip>
        <p class="text-md font-bold mt-2">
          {{ starship?.name }}
        </p>
        <p class="text-sm text-gray-400">
          {{ starship?.manufacturer }}
        </p>
      </div>
      <div class="border mx-3 p-2 mb-3 rounded-md bg-primary bg-opacity-5">
        <p class="font-bold text-xs text-gray-400">Starship Class</p>
        <p class="text-sm">{{ starship?.starship_class }}</p>
      </div>
      <div class="p-3 text-right">
        <button
          class="px-3 py-2 text-sm bg-primary-400 font-semibold rounded-md border-primary text-white"
          @click="toDetail(starship.url)"
        >
          Detail
        </button>
      </div>
    </div>
  </div>
  <div class="text-center my-4" v-if="loading">
    <VSpinner></VSpinner>
  </div>
</template>
